@model  Player 
@{
ViewBag.Title = "Edit Player";
Layout = "_AdminLayout";
}


<form asp-action="Edit" method="post">

	<div class="form-group">
	<label asp-for="Id"></label>
		<div><span asp-validation-for="Id" class="text-danger"></span></div>

	<input asp-for="Id" class="form-control"/>
	</div>

	<div class="form-group">
	<label asp-for="Name"></label>
	<div><span asp-validation-for="Name" class="text-danger"></span></div>
	<input asp-for="Name" class="form-control"/>
	</div>

	<div class="form-group">
	<label asp-for ="Position"></label>
		<div><span asp-validation-for="Position" class="text-danger"></span></div>

	<textarea asp-for="Position" class="form-control" ></textarea>
	</div>

	<div class="form-group">
	<label asp-for="RedCard"></label >
		<div><span asp-validation-for="RedCard" class="text-danger"></span></div>

	<input asp-for="RedCard" class="form-control"/>
	</div>

	<div class="form-group">
	<label asp-for="TeamId"></label>
		<div><span asp-validation-for="TeamId" class="text-danger"></span></div>

	<input asp-for="TeamId" class="form-control"/>
	</div>

	<div class="text-center">
	<button class="btn btn-primary" type="submit">Save</button>
	<a asp-action="Index" class="btn btn-secondary">Cancel</a>
	</div>

</form>