@model  AdminPlayersListViewModel
@{
ViewBag.Title = "Edit Player";
Layout = "_AdminLayout";
}


<form asp-action="Edit" method="post">

	<div class="form-group">
	<label asp-for="Player.Id"></label>
		<div><span asp-validation-for="Player.Id" class="text-danger"></span></div>

	<input asp-for="Player.Id" class="form-control"/>
	</div>

	<div class="form-group">
	<label asp-for="Player.Name"></label>
	<div><span asp-validation-for="Player.Name" class="text-danger"></span></div>
	<input asp-for="Player.Name" class="form-control"/>
	</div>

	<div class="form-group">
	<label asp-for ="Player.Position"></label>
		<div><span asp-validation-for="Player.Position" class="text-danger"></span></div>

	<textarea asp-for="Player.Position" class="form-control" ></textarea>
	</div>

	<div class="form-group">
	<label asp-for="Player.RedCard"></label >
		<div><span asp-validation-for="Player.RedCard" class="text-danger"></span></div>

	<input asp-for="Player.RedCard" class="form-control"/>
	</div>

	<div class="form-group">
	<label asp-for="Player.TeamId"></label>
		<div><span asp-validation-for="Player.TeamId" class="text-danger"></span></div>

	<input asp-for="Player.TeamId" class="form-control"/>
	</div>

	<div class="text-center">
	<button class="btn btn-primary" type="submit">Save</button>
	<a asp-action="Index" class="btn btn-secondary">Cancel</a>
	</div>

</form>