<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Football manager</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

<div class="navbar  navbar-light bg-success " role="navigation" >
<a class="navbar-brand" href="#">Football manager</a>


<div class="bg-info row">
@*<div class="col">
<h4>@ViewBag.Title</h4>p-2col-2 
</div>*@
<div class=""><a class="btn btn-sm btn-primary"  href="/Admin/Index">CRUD</a></div>
</div></div>





<div class="container-fluid justify-content-between ">
@* *@    <div class="row "> 
           <div  class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-6 "  style=" width:295px">
                        <div class=" my-2 my-3 my-4  overflow-auto" style=" height: 275px; " >

                        @await Component.InvokeAsync("NavigationMenu")
                        </div>

                        <div class=" my-2 my-3 my-4  overflow-auto" style=" height: 275px; " >

                        @await Component.InvokeAsync("NavigationMenuGame")
                        </div>
            </div>

            <div class="col">
            @RenderBody()
            </div>
   </div>
</div>
@*    <header>  -xl-9 col-lg-6 col-md-4 col-sm-5-xl-9 col-lg-5  col-md-5 col-sm-6 col-xs-6 
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container"> justify-content-start 
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApplication5</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
      </main>
    </div>*@

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 -  <a asp-area="" asp-controller="Home" asp-action="Privacy">Zabolotnyi-zpi-zp-92</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
