@model IEnumerable<Football_manager.Models.Player>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport " content="width=device-width" />
<title>Players</title>
   @*<link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css"/>*@
                 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">

</head>
<body>
<div class="panel-body">
<h2>Here is the list of players</h2>
<table class="table table-sm table-striped table-bordered">
<thead>
<tr>
<th>Id</th>
<th>Name</th>
<th>Position</th>
<th>RedCard</th>
</tr>
</thead>
<tbody>
@foreach ( Football_manager.Models.Player p in Model) {
<tr>
<td>@p.Id</td>
<td>@p.Name</td>
<td>@p.Position</td>
<td>@p.RedCard</td>
</tr>
}
</tbody>
</table>
</div>
    <footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="undefined" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="undefined" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.esm.min.js" integrity="undefined" crossorigin="anonymous"></script>
</footer>    
</body>
</html>