
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
        <head>
            <meta name="viewport " content="width=device-width" />
            <title>Index</title>
@*            <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css"/>*@        
              <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
        </head>
    <body>

 <div class="text-center">Hello World (from the view)
         <div  class="text-center">@ViewBag.Greeting World (from the view) </div>

@*         <p>We're going to have an exciting party.<br/>
        (To do: sell it better. Add pictures or something.)
        </p>
*@    <a class="btn btn-primary" asp-action="PlayerForm">Add Players</a></div>
    <footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="undefined" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="undefined" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.esm.min.js" integrity="undefined" crossorigin="anonymous"></script>
</footer>    
</body>

</html>