@model IEnumerable<byte>
<a class="btn btn-block btn-secondary "
asp-action="List"
asp-controller="Player"
asp-route-Team="">
Home
</a>
@foreach (byte Team in Model) {
<a class="btn btn-block btn-secondary"
asp-action="List"
asp-controller="Player"
asp-route-Team="@Team"
asp-route-PlayerPage="1">
@Team
</a>}