@model IEnumerable<Team>
<a class="btn btn-block btn-secondary "
asp-action="List"
asp-controller="Player"
asp-route-team="">
All players
</a>
@foreach (var Team in Model) {
<a class="btn btn-block
@(Team.Id.ToString() == ViewBag.SelectedTeam?"btn-primary":"btn-secondary")"
asp-action="List"
asp-controller="Player"
asp-route-team="@Team.Id"
asp-route-Page="1">
@Team.Name
</a>}